<footer class="border-top">
    <div class="f-brand">
        &copy; EliteBnB Private Limited &nbsp;
        <span class="f-info-links">
            <a>Privacy</a>&nbsp;
            <a>Terms</a>
        </span>
    </div>
    
    <div>
        <span class="f-socials">
            <a><i class="fa-solid fa-globe"></i> English(IN)&nbsp;</a>
            <a>&#8377; INR&nbsp;</a>
        </span>
        <span class="social-media">
            <a><i class="fa-brands fa-facebook"></i>&nbsp;</a>
            <a><i class="fa-brands fa-x-twitter"></i>&nbsp;</a>
            <a><i class="fa-brands fa-instagram"></i>&nbsp;</a>
        </span>
    </div>
</footer>